// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #002D72;
	--ion-color-primary-rgb: 0,45,114;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #002864;
	--ion-color-primary-tint: #1a4280;

	--ion-color-secondary: #009688;
	--ion-color-secondary-rgb: 0,150,136;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #008478;
	--ion-color-secondary-tint: #1aa194;

	--ion-color-tertiary: #FFC107;
	--ion-color-tertiary-rgb: 255,193,7;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #e0aa06;
	--ion-color-tertiary-tint: #ffc720;

	--ion-color-success: #4CAF50;
	--ion-color-success-rgb: 76,175,80;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #439a46;
	--ion-color-success-tint: #5eb762;

	--ion-color-warning: #FFCA28;
	--ion-color-warning-rgb: 255,202,40;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0b223;
	--ion-color-warning-tint: #ffcf3e;

	--ion-color-danger: #E53935;
	--ion-color-danger-rgb: 229,57,53;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #ca322f;
	--ion-color-danger-tint: #e84d49;

	--ion-color-light: #f5f5f5;
	--ion-color-light-rgb: 245,245,245;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8d8d8;
	--ion-color-light-tint: #f6f6f6;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

}