.clickable {
  cursor: pointer;
}
.credit-card {
  box-shadow: 0 4px 8px rgba(1, 23, 26, 0.1);
  border-radius: 12px;
  padding: 16px;
}

.credit-details p {
  font-size: 16px;
  margin-bottom: 8px;
}

.cobros-title {
  font-size: 18px;
  font-weight: bold;
  color: #83a0d2;;
}

ion-item-divider {
  margin-top: 16px;
  padding: 8px;
  background-color: #121c0b;
}

ion-tab-bar ion-button {
  margin-top: 8px;
}
