<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-align-items-center">
      <img [src]="logo" alt="Bank Logo" class="header-logo" />
      <ion-title>{{name}}</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onLogin()" color="primary">
        Iniciar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-bg">
  <app-table></app-table>
  <app-investments></app-investments>
</ion-content>