<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-align-items-center">
      <img [src]="logo" alt="Bank Logo" class="header-logo" />
      <ion-title>{{name}}</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onLogin()" color="primary">
        Iniciar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-bg">
  <ion-segment>
    <ion-segment-button value="credits" content-id="credits">
      <ion-label>Créditos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="investments" content-id="investments">
      <ion-label>Inversiones</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-segment-view>
    <ion-segment-content id="credits">
      <app-table></app-table>
    </ion-segment-content>
    <ion-segment-content id="investments">
      <app-investments></app-investments>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>